header {
	margin: 0;
	padding: 0;
}

#blackJackMain {
	background-color: #D2D2D2;
	width: 100%;
	margin: 0 auto;
}
	
ul.cardsUL {
  margin: 0 auto;
  margin-top: 1%;
  padding: 0;
  width: 1150px;
}

ul.cardsUL li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}

#dropZone{
	width: 400px;
	height: 240px;
	background-color: #85C135;
	margin: 0 auto;
	padding-top: 1%;
}

#playTable {
	margin-left: 20;
}

#status {
	width: 220px;
	height: 90px;
	background-color: brown;
	border-radius: 6px;
	margin: 0 auto;
	padding: 1%;
	color: white;
}

#round {
	width: 100px;
	height: 100px;
	padding-top: 2%;
	color: white;
	border-radius: 6px;
	margin-left: 70%;
 	margin-top: -14%;
 	margin-bottom: 4%;
}

.backColorBrown {
	background-color: brown;
}

.backColorBlue {
	background-color: blue;
}

.card {
	width: 65px;
}

.cardInDropeZone {

	width: 120px;

}

#humanCardsDiv {

	margin-bottom: 5%;

}

.playerTitle {
	margin: 0 auto 0.5% auto;
	padding-top: 0.5%;
}

.playerTitle p {
	border-radius: 6px;
	margin-bottom: 0;
}

.headerClass {
	display: inline-block;
}

.headerMainClass {
	background-color: rgb(37, 36, 36);
	padding: 1%;
	color: white;
	height: 110px;
}

.cardsWrapperDiv {
	background-color: #FAF9F9;
	border-radius: 7px;
}

#headerList {
	list-style: none;
	display: inline-block;
}

#headerList li {
	float: left;
}

#headerList li:first-child {
	margin-right: 30px;
}

#humnGetCardsStackBtn {
	margin-right: 1%;
}